* {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif !important;
  line-height: 1;
  font-weight: 400;

  color-scheme: light dark;
}

body {
  margin: 0 !important;
  max-width: 100vw;
  max-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

